<p id="notice"><%= notice %></p>

<head>
  <title>Buy</title>

</head>

<body>
  <h4> Creditos </h4>
  <div style= "margin-top:50px">
      <form method="post" action="/buys/new" class="button_to , form-inline" >
        <div class="form-group">
        <input name="cant" type="number" min="1" max="30" class="form-control" />
        <button type="submit" class="btn btn-success">Comprar</button>
      </div>
      </form>
  </div>
