<p id="notice"><%= notice %></p>

<head>
  <title>Buy</title>

</head>

<body>
<div style= "margin-top:50px">
<h4>Creditos</h4>
    <div class="col-xs-2" >
      <form method="post" action="/buys/new" class="button_to" >
        <input name="cant" type="number" min="1" max="30" class="form-control"/>
      </div>
      <div>
        <input value="Comprar" type="submit" class="btn btn-success"/>
      </form>
    </div>
  </div>
</body>
