<p id="notice"><%= notice %></p>

<head>
  <title>Buy</title>

</head>

<body>
  <div>
    <form method="post" action="/buys/new" class="button_to" data-remote="true" data-type="json">
   <input value="Comprar" type="submit" />
        <input name="cant" type="text"/>
  </form>
  </div>
</body>
