<p id="notice"><%= notice %></p>

<head>
  <title>Buy</title>

</head>

<body>
  <div>
    <form method="post" action="/buys/new" class="button_to" >
      <input name="cant" type="text"/>
      <input value="Comprar" type="submit" />
    </form>
  </div>
</body>
