// Place all the styles related to the turns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#none {
  background-image: none;

  .navbar {
      position: relative;
      min-height: 0px;
      margin-bottom: 1px;
      border: 1px solid transparent;
  }
}
